@import './bootstrap-override.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
  margin: auto !important;
  padding: 2rem !important;
}

/* Some generic global classes/helpers */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.full-width {
  width: 100%;
}

.force-text-left {
  text-align: left !important;
}

.text-left-right {
  text-align: right !important;
}
