/* https://getbootstrap.com/docs/4.0/getting-started/webpack/ */
/* @import '../node_modules/bootstrap3/dist/css/bootstrap.min.css'; */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 2rem;
}
