.notification-area {
    height: 3.5em;
    overflow-y: auto;
    border: 1px ridge #ccc;
    border-radius: 4px;
}

.theme-list-dropdown-text {
    width: calc(100% - 20px); /* button-padding + caret width */
    overflow: hidden;
    text-overflow: ellipsis;
}

.theme-list-entry {
    display: flex;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    padding: 0.15em 1em;
}

.theme-list-entry > span:first-child {
    width: calc(100% - 28px - 1em);
    overflow: hidden;
    text-overflow: ellipsis;
}

.theme-list-entry > span:nth-child(2) {
    padding-left: 1em;
    margin-left: auto;
}

.theme-list-entry > span:nth-child(2):hover {
    filter: brightness(0.9);
}

.theme-list-container {
    width: 100%;
    max-height: calc(100vh - 230px);
    overflow: auto;
}

.theme-list-entry:hover {
    backdrop-filter: brightness(0.9);
}
